<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/header.ejs') %>
<main class="main_content">
    <h1>Lorem ipsum dolor sit amet.</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos optio recusandae non qui quaerat quae minima officia, fugit blanditiis explicabo nam quis alias amet accusantium perspiciatis quia quam cumque eius! Quibusdam repudiandae est quo quidem quos soluta veniam cupiditate facere, sapiente incidunt excepturi? Laboriosam ipsum vel hic aperiam consectetur quia accusamus facilis labore, quos autem sequi aspernatur ab aut quisquam?</p>
  </main>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
