<footer>
    <div class="main-footer">
      <section class="fter">
        <a target="_blank" href="https://web.whatsapp.com/send?phone=5491140748610&amp;text=Hola. Me gustaría recibir información sobre sus productos y servicios." rel="noreferrer">
        <i class="fab fa-whatsapp"></i>
      </a>
        <h2>DUDAS?</h2>
        <article>
          Consultanos cualquier duda antes de realizar el pedido.
        </article>
      </section>
      <section class="fter">
        <i class="fas fa-shipping-fast"></i>
        <h2>ENVIOS Y RETIROS</h2>
        <article>
          Nos ocupamos personalmente las entregas acordadas.
        </article>
      </section>
      <!-- <section class="fter">
        <i class="fas fa-user-shield"></i>
        <h2>100% SEGURO</h2>
        <article>
          ¿No te gusta? ¡Devolvelo gratuitamente! En Clessidra estás siempre
          protegid@.
        </article>
      </section> -->
    </div>
    <div class="bottom-footer">Copyright © 2022 M200 S.A.</div>
  </footer>