<!DOCTYPE html>
<html lang="en">
 <%- include ('../partials/head.ejs') %>
  <body>
    <%- include ('../partials/header.ejs') %>
<main class="main_content">
    <h1>USERS</h1>
    <p>Esta vista mostrará detalles del los usuarios de la app</p>
    <img src="/images/wip.gif" style="width: 360px" alt="">
  </main>
    <%- include ('../partials/footer.ejs') %>
  </body>
</html>
